src/main/mule/mule4-ai-db-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="dc4f327f-e4ac-4f3b-ad33-126d7c777be9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="e29c4190-7ad5-4152-8b0d-aa5b9d66338d" >
		<db:my-sql-connection host="127.0.0.1" port="3306" user="root" password="root" database="aiagent" />
	</db:config>
	<mongo:config name="MongoDB_Config" doc:name="MongoDB Config" doc:id="99a7b1f2-9e56-484f-bfac-c28260d03b17" >
		<mongo:connection database="admin" >
			<mongo:server-addresses >
				<mongo:server-address host="127.0.0.1" />
			</mongo:server-addresses>
		</mongo:connection>
	</mongo:config>
	<flow name="mule-mongo-mysql-flow" doc:id="3e9dd5af-250a-47c5-8c1b-9101eb604606" >
		<http:listener doc:name="Listener" doc:id="81761775-7027-4e85-a2e2-376c1adc797e" config-ref="HTTP_Listener_config" path="/mule/db"/>
		<logger level="INFO" doc:name="Logger" doc:id="2a7bbeeb-ca66-4b7f-a81c-49bf46d4cf69" message="#['Start processing Mongo-MySql with mule ' ++ correlationId]"/>
		<mongo:count-documents doc:name="Count documents" doc:id="94c16167-60b0-4558-a077-ecd3716c5266" config-ref="MongoDB_Config" collectionName="test-ai"/>
		<db:select doc:name="Select" doc:id="8f309ae2-e3ef-4e73-a090-12ff3dc0ebfd" config-ref="Database_Config">
			<db:sql ><![CDATA[Select * from aiagent.orders]]></db:sql>
		</db:select>		<set-payload value="#['Finished processing Mongo-MySql with mule ' ++ correlationId]" doc:name="Set Payload" doc:id="342e5186-f4fb-4f76-bbd4-e6d4e1760f9d" mimeType="text/plain"/>
		<logger level="INFO" doc:name="Logger" doc:id="67a7af7b-cb2f-4ce0-974b-bde00a74da4e" message="#[payload]"/>
	</flow>
</mule>
